<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<InitializationScript>
		<![CDATA[
		create 
		index MultiQr_Codes_Code
		on MultiQr_Codes
		(
			Code
		);
		]]>
	</InitializationScript>
	<StartupScript>
		<![CDATA[
		ConfigurationPage("Multi-QR","/MultiQR.md");
		
		Global["CreateMultiQR"]:=(
			(Info,Resource)->
			(
				MultiQrCode:=
				{
					"Code": Base64UrlEncode(RandomBytes(32)),
					"Title": Str(Info.Title),
					"Description": Str(Info.Description),
					"Master": Str(Info.Master),
					"Scheme": Str(Info.Scheme),
					"Created": NowUtc,
					"ExpiryDate": (empty(Info.ExpiryDate) ? null : DateTime(Info.ExpiryDate)),
					"Label1": Str(Info.Label1),
					"Text1": Str(Info.Text1),
					"Link1": Str(Info.Link1)
				};

				k:=2;
				while exists(Label:=Info["Label"+(s:=Str(k))]) and exists(Text:=Info["Text"+s]) and exists(Link:=Info["Link"+s]) do
				(
					MultiQrCode["Label"+s]:=Label;
					MultiQrCode["Text"+s]:=Text;
					MultiQrCode["Link"+s]:=Link;
					k++
				);

				insert into MultiQr_Codes object MultiQrCode;
				
				{
					"Image":"/QR/"+UrlEncode(Waher.IoTGateway.Gateway.GetUrl(Request.Header.Resource+"?QR="+MultiQrCode.Code+"&Scheme="+MultiQrCode.Scheme)),
					"Page":Resource+"?QR="+MultiQrCode.Code
				}
			)
		);
		]]>
	</StartupScript>
</ServiceConfiguration>