<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<InitializationScript>
		<![CDATA[
		create 
		index MultiQr_Codes_Code
		on MultiQr_Codes
		(
			Code
		);
		]]>
	</InitializationScript>
	<StartupScript>
		<![CDATA[
		ConfigurationPage("Multi-QR","/MultiQR.md");
		]]>
	</StartupScript>
</ServiceConfiguration>